.print {
	width: 1000px;
	height: 800px;
	position: relative;

	.print__btn {
		width: 50px;
		height: 50px;
		position: absolute;
		left: 0;
		background-color: #F1F6F7;
		border: solid 1px white;
		text-align: center;
		&:hover {
			background: #0BB3A5;
		}
	}
	.print__btnOne {
		top: 0px;
	}
	.print__btnTwo {
		top: 50px;
	}
	.print__btnThree {
		top: 100px;
	}
	.print__btnFour  {
		top: 150px;
	}
	.print__btnFive {
		top: 200px;
	}
	.print__field {
		width: 300px;
		height: 800px;
		position: absolute;
		left: 50px;
		background-color: #DEE6E9;
		text-align: center;
		display: none;
		.print__field-output {
			width: 300px;
			height: 150px;
			position: relative;
			//background: yellow;

			.print__field-output-letter {
				position: absolute;
				top: 0px;
				left: 75px;
				width: 150px;
				height: 150px;
				//background: yellow;
			}
		}
		.print__field-svg-wrapp {
			position: relative;
		}

		.print__field-input {
			width: 200px;
		}
		svg {
			//background: green;
			//position: absolute;
			//width: 300px;
			//height: 200px;
			//top: 0;
			//left: 0;
		}
		.print__field-controlPoint1 {
			position: absolute;
			width: 10px;
			height: 10px;
			background: yellow;
			left: 100px;
			top: 21px;
			border-radius: 5px;
			border: solid black 1px;
		}
		.print__field-controlPoint2 {
			position: absolute;
			width: 10px;
			height: 10px;
			background: yellow;
			left: 230px;
			top: 182px;			
			border-radius: 5px;
			border: solid black 1px;
		}
		.print__field-control1 {
			position: absolute;
			width: 10px;
			height: 10px;
			background: yellow;
			left: 29px;
			top: 81px;
		}
		.print__field-control2 {
			position: absolute;
			width: 10px;
			height: 10px;
			background: yellow;
			left: 84px;
			top: 82px;			
		}
		.print__field-control3 {
			position: absolute;
			width: 10px;
			height: 10px;
			background: yellow;
			left: 263px;
			top: 50px;
			
		}
	}
}
.print__field-output-three {
	width: 300px;
	height: 150px;
	position: relative;
}
.print__textfx {
	background: #fff;
	border: solid #C2D5D9 1px;
	&:hover {
	background: #E1ECEE;
	
	}
}
.print__textfx img {
	/*width: 50px;*/
	max-height: 50px;
}
.fieldForBtnFive__svg-hidden {
	display: none;
}
